#
# $ Copyright Open Broadcom $
#
#
# <<Broadcom-WL-IPTag/Open:>>
#

config BCMDHD
	tristate "Broadcom FullMAC wireless cards support"
	help
	  This module adds support for wireless adapters based on
	  Broadcom FullMAC chipset.

	  If you choose to build a module, it'll be called dhd. Say M if
	  unsure.

config BCMDHD_ROCKCHIP_PLATFORM
	bool "Rockchip platform support"
	depends on BCMDHD
	default y

config HAVE_IMX8_SOC
	bool "Imx platform support"
	depends on BCMDHD
	default n

config CYW43438
	bool "CYW43438 support"
	depends on BCMDHD
	default n

config CYW43455
	bool "CYW43455 support"
	depends on BCMDHD
	default n

config CYW4354
	bool "CYW4354 support"
	depends on BCMDHD
	default n

config CYW4373
	bool "CYW4373 support"
	depends on BCMDHD
	default n

config CYW54591_SDIO
	bool "CYW54591_SDIO support"
	depends on BCMDHD
	default n

config CYW54591_PCIE
	bool "CYW54591_PCIE support"
	depends on BCMDHD
	default n

config CYW5557X_SDIO
	bool "CYW5557X_SDIO support"
	depends on BCMDHD
	default n

config CYW5557X_PCIE
	bool "CYW5557X_PCIE support"
	depends on BCMDHD
	default n

config WL_AP_IF
	bool "Create additional AP interface during intialization"
	depends on BCMDHD
	default n
	help
	  Create additional AP interface during initialization.
